// 定义颜色，字体，字号，间距等变量

$color-sysRed: #fe4066;
$color-sysBlue: #418fd7;
$color-deepBlue: #009dff;
$color-lightBlue: #bad9f5;
$color-yellow: #ffb300;
$color-green: #0eb679;
$color-black: #000;
$color-text: #222;
$color-darkGray: #707070;
$color-grey: #999;
$color-mediumGrey: #ccc;
$color-lightGrey: #e2e2e2;
$color-silverGrey: #f0f0f0;
$color-milkyWhite: #fbfbfb;
$color-white: #fff;
$color-panel-bg: #f5f5f5;
$color-iconGrey: #666;
$color-textGrey: #aaa;

$space-4: 4px;
$space-6: 6px;
$space-8: 8px;
$space-10: 10px;
$space-20: 20px;
$space-30: 30px;
$space-40: 40px;

$fs-X: 1.8rem;
$fs-L: 1.6rem;
$fs-M: 1.4rem;
$fs-S: 1.2rem;

$color-xd-border: #B3B3B3;
$color-xd-text: #353535;
$color-xd-icon: #565656;
$color-xd-blue: #1592e6;
