.login-panel {
  position: relative;
  width: 100%;
  height: 100%;
  .login-logo {
    margin-top: 60px;
    margin-bottom: 60px;
    img {
      margin: auto;
      display: block;
      width: 60px;
      height: 60px;
    }
  }
  .login-form {
    width: 200px;
    margin: auto;
    & > button,
    & > input {
      margin-bottom: 10px;
      display: block;
    }
  }
  .save-user-info {
    margin-bottom: 20px;
    div {
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .wechat-account {
    display: block;
    margin: auto;
    span {
      font-size: 12px;
      color: #999;
      &:hover {
        color: #FE4066;
      }
    }
  }
  .login-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      font-size: 12px;
      color: #999;
      &:hover {
        color: #FE4066;
      }
    }
  }

  .loading{
    display: none;
    position: relative;
    z-index: 100;
    width: 36px;
    height: 36px;
    top: 50%;
    margin: auto;

    .show {
      display: block;
    }
  }
}

.login-by-wx {
  width: 100%;
  height: 100%;
  position: relative;
  .qr-code {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    img {
      width: 160px;
      height: 160px;
      margin-left: 20px;
    }
    p {
      margin: auto;
    }
  }
  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
}