.c-button {
  width: 100%;
  height: 30px;
  border: 0;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: #fe4066;
  pointer-events: all;

  &.red {
    color: #fff;
    background-color: #fe4066;

    &:hover{
      background-color: #ff5476;
    }

    &.disabled{
      background-color: #eee;
    }
  }

  &.blue {
    color: #fff;
    background-color: #009dff;
  }

  &.dark {
    color: #000;
    background-color: transparent;

    &.hover {
      background-color: #ccc;
    }
  }

  &:hover {

  }


  &.disabled {
    pointer-events: none;

  }
}