.shadow-top {
  position: absolute;
  top: -13px;
  width: 100%;
  height: 13px;
}

.shadow-bottom {
  position: absolute;
  width: 100%;
  bottom: -13px;
  height: 13px;
}

.shadow-left {
  position: absolute;
  height: 100%;
  left: -13px;
  width: 13px;
}

.shadow-right {
  position: absolute;;
  height: 100%;
  right: -13px;
  width: 13px;
}
